.deps/
aclocal.m4
autom4te.cache
compile
config.log
config.status
configure
depcomp
exercise1v1
exercise1v1.o
exercise1v2
exercise1v2.o
exercise2v1
exercise2v1.o
exercise2v2
exercise2v2.o
exercise2v3
exercise2v3.o
install-sh
Makefile
Makefile.in
missing
